
<form action="/addEvent" method="POST">
  <div>
    <label for="eventName">name</label>
    <input type="text" id="eventName" name="eventName" required />
  </div>
  <div>
    <label for="eventId">event code</label>
    <input type="text" id="eventId" name="eventId" required />
  </div>
  <div>
    <label for="price">price</label>
    <input type="text" id="price" name="price" required />
  </div>
  <div>
    <label for="eventVenue">Venue</label>
    <input type="text" id="eventVenue" name="eventVenue" required />
  </div>
  <div>
    <label for="eventDateAndTime">date and time</label>
    <input type="text" id="eventDateAndTime" name="eventDateAndTime" required />
  </div>
  <div>
    <label for="eventPicture">url</label>
    <input type="text" id="eventPicture" name="eventPicture" required />
  </div>
  <button type="submit">Add event</button>
</form>




