
<form action="/deleteEvent" method="POST">
   
    <div>
      <label for="eventId">event code</label>
      <input type="text" id="eventId" value=<%=event_id%> name="eventId" required />
    </div>
   
    <button type="submit">Remove event</button>
  </form>
  
  
  
  
  